.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #83c3ee;
    color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
}
.title{
    text-align: center; /* Center text horizontally */
    /*line-height: 100px; !* Center text vertically based on the card height *!*/
}

input{
      border: 2px solid lightgrey;
      border-radius: 10px;
      padding: 10px 10px;
      display: block;
      margin: 0 auto;
  }
.custom-button {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 50px;
    background-color: #527CEC;
    color: #FFFFFF;
&:hover {
     background-color:blue;
 }
}